*{
  box-sizing: border-box;
}
.NewDruF12{
  border-style: solid;
  border-radius: 10px;
  margin: auto auto;
  width: 400px;
  height: 400px;
  padding-left: 50px;
  border-color: blue;
  font-style: oblique;

}


.NewDrugForm{
  font-size: 20px;
}

.formGroup{
  margin-top: 40px;
}

.inputGroup{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  caret-color: green;
}
span{
  color: red;
}
button{
  width: 150px;
  height: 40px;
  background-color: white;
  border-color: green;
  border-radius: 10px;
  font-size: 20px;
  margin: auto auto;

}
.backButton{
  font-size: 20px;
  background-color: blue;
  color: white;
  width: 100px;
  border-radius: 10px;
  height: 50px;
  padding-top: 12px;
  padding-left: 30px;
}
