*{
  box-sizing: border-box;
}
.body{
  font-family: monospace;
  font-size: 20px;

}
.AdminPageContainer{
display: flex;
width: 100%;
height:800px;
background-color: rgb(240, 234, 234);
}
.sideAdmintab{
  border-style:hidden;
  width: 200px;
  height: 100%;
  height:auto;
  background-color: rgb(57, 80, 80);
}
.bodyContainer1{
  border-style: hidden;
  width: 100%;
}
.buttonContainer{
  border-style: solid;
  height: 50px;
  text-align:center;
  padding: 10px;
  margin-top:10px;
  background-color: rgba(43,130,105,1);
  color: white;
  border-radius: 5px;
}
.drugstoreBanner{
  height: 50px;
  width: 100%;
  color: white;
  background-color: rgb(57, 80, 80);
  text-align: center;
  padding: 20px;

}
.visualiztionSales{
  background-color: rgba(55, 107, 135);
  color: rgba(255, 252, 252);
  width:30%;
  height:auto;
  border-style:groove;
  margin-top:10px;
  margin-left: 50px;
  border-radius: 10px;

}
.Graph{
  border-style: solid;
  border-width: medium;
  width: 70%;
  height: 200px;
  margin-left:auto;
  margin-right: auto;
}
.card-direction{
  text-align: center;
}
#increaseButton{
  border-radius: 10px;
  border-style: dashed;
  height: 20px;
  width: 10px;
}
.displayContainer{
  border-style:  2px solid;
    width: 300px;
    height:200px;
}
.druglefAlert{
  border-style: solid;
  border-width: medium;
  width: 70%;
  height: 300px;
  margin-left:auto;
  margin-right: auto;

}
.durgsAlmostfinishCont{

  overflow-y: auto;
  width: 100%;
  height: 270px;
  border-radius: 10px;

}
.PicturePerson{
  border-style: solid;
  width:100%;
  height:100%;
}
.pageDesign{
  display: flex;
  height: 150px;
}
.NameDesign{
  width:100%;
  height:auto;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.picture-container {
  display: flex;
  grid-gap: 10px;
  padding: 10px;
}
.picture-container > img {
  border: 1px solid black;
  border-radius: 20px;
  width:250px;
  text-align: center;

}
.IncDrugForm{
  padding-left: 20px;
  padding-top: 20px;
}
.displayIncDrug{
  margin-top: 50px;
  font-size: 20px;
}
.backHomeButton{
  background-color: blue;
  color: white;
  border-radius: 10px;
  
}
