*{
  box-sizing: border-box;
}

.displayIncDrug{
  /*margin-top: 30px;*/
  font-size: 20px;
  padding-left: 80px;
  height: auto;

}
.displaycontainer{
  border-style: solid;
  margin: auto auto;
  width: 400px;
  border-radius: 10px;
  border-color: 10px;
  border-color: blue;
  margin-top: 100px;
}
.labeldesign{
  border-style: solid;
  border-width: thin;
  background-color: white;
  width: 200px;
  border-radius: 10px;
  padding-left: 20px;
  border-color: grey;
  height: 40px;
  padding-top: 5px;
}
.inputIncDrug{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border-color: grey;



}
button{
  width: 150px;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-color: green;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.displayIncDrug{
  margin-top:20px;
}
.CancelButton{
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  margin-left: 20%;
}
