*{
  box-sizing: border-box;
}
.container{
  display: block;
  width: 350px;
  height: auto;
  background-color: ligth-blue;
  margin: auto auto ;
  margin-top: 150px;
  border-radius: 30px;
  border-style: solid;
  border-color: blue;

}
.login-form{
  padding-top: 20px;
  padding-left:40px;
  margin: auto auto ;
}
.input-group{
  height: 50px;
  width: 270px;
  padding-top: 10px;
  margin-top: 40px;
  border-color: blue;

}
input{
  height: 40px;
  width: 270px;
  padding-left: 20px;
  font-size: 25px;
  border-radius: 20px;
}
.loginButton{
  width: 150px;
  height: 50px;
  background-color: blue;
  font-size: 25px;
  border-radius:10px;
  color: white;

}
.signUp{
  font-size: 25px;
  color: white;
  text-align: center;
}
span{
  font-size: 15px;
  color: red;
}
